body{
    /* width: 300;
    border: 5px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    /* background-color: aqua; */
}

.forgetPassword{
    background: #fff;
    border-radius: 15px;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(160, 149, 149);
    height: 60%;
    width: 680px;
    margin-right: 50px;
    margin-left: 20px;
}
.text h4{
    font-size:24px;
}
.text .Email-auth #email{
    font-size: 24px;
    width: 100%;
    border: 1px solid #ccc;
}
.text .Email-auth #emailSubmit{
    display: flex;
    
    margin-bottom:24px;
}

.forgetPassword .text  #emailSubmit{
    width: 100%;
    padding:10px;
    background-color: #315e8f;
    color:#fff;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border: solid;
    border-radius: 8px;
    margin-top: 20px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.phoneNumber ,.code-inputs{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.phoneNumber input,.code-inputs input{
    width: 30px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 20px;
}

.phoneNumber input:last-child, .code-inputs input:last-child {
    margin-right: 0; /* Remove margin on the last input */
}


#Getcode, #submit {
    width: 100%;
    padding: 10px;
    background-color: #315e8f;
    color: #fff;
    border: solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Space above buttons */
}

#Getcode:disabled,#submit:disabled {
    background-color: #ccc; /* Gray out disabled submit button */
}